<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>HTML Helper</title>
<script type="text/javascript" src="/static/js/jquery.js"></script>
</head>
<body>
{{
htmlbuf << htmlwidgets.Message('This is a test')
htmlbuf << htmlwidgets.RoundBox()
}}
<div style="width:400px;">
  <div class="boxes">
    <p>This is a test</p>
  </div>
</div>
{{
htmlbuf << htmlwidgets.NiceEditor(id='area1')
}}
<div>
<h4>First Textarea</h4>
<textarea id="area1" cols="60" rows="10"></textarea>
</div>
</body>
</html>