<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Hello World</title>
  
  <!-- include the jx library and the delicious skin -->
{{ use "jxlib" }}    
</head>
<body>
<!-- this prevents scrollbars from appearing on the page -->
<style type="text/css">
body {
  overflow: hidden;
}
</style>

<!-- our application code -->
<script type='text/javascript'>
  window.addEvent('load', function() {
    // our custom javascript goes in here.
  new Jx.Layout('theApp');
  
  var toolbar = new Jx.Toolbar();
  
  var sayHello = new Jx.Button({
    label: 'Say Hello',
    onClick: function() {
      alert('Hello!');
    }
  });
  
  toolbar.add(sayHello);
  
  var panel = new Jx.Panel({
    label: 'Hello World',
    toolbars: [toolbar]
  });
  
  panel.addTo('theApp');
  
  $('theApp').resize();
  
  });   
</script>

<div id="theApp" style="background-color: orange"></div>
</body>
</html>
