<html>
<head>
<title>Index Test</title>
</head>
<body>
<h1>uliweb Framework</h1>
<p>This is a test page index.</p>
<ul>
<li><a href="{{= url_for('%s.views.template' % request.appname) }}">template test</a></li>
<li><a href="{{= url_for('%s.views.test_redirect' % request.appname) }}">redirect test(to /)</a></li>
<li><a href="{{= url_for('%s.views.form' % request.appname) }}">form test</a></li>
<li><a href="{{= url_for('%s.views.simple_expose' % request.appname) }}">test para {{= url_for('%s.views.simple_expose' % request.appname) }} simple expose without parameters</a></li>
<li><a href="{{= url_for('%s.views.simple_expose_para' % request.appname, name='limodou') }}">test para {{= url_for('%s.views.simple_expose_para' % request.appname, name='limodou') }} simple expose with parameters</a></li>
<li><a href="{{= url_for('%s.views.test_response' % request.appname) }}">You can use response directly in view function</a></li>
<li>Static file test <img src="{{= url_for('%s.views.static' % request.appname, filename='test.gif') }}"/></li>
<li><a href="{{= url_for('%s.views.test_error' % request.appname) }}">Error page test</a></li>
<li><a href="{{= url_for('%s.views.print_config' % request.appname) }}">Print config</a></li>
</ul>
</body>
</html>
