blockquote,ul,ol,dl {
	margin:1em;
}
ol,ul,dl {
	margin-left:2em;
}
ol li {
	list-style: decimal outside;	
}
ul li {
	list-style: disc outside;
}

/*begin YDN/YUI styles*/
h1, h2, h3, h4, h5, h6 {font-weight:bold;}
h1, h2, h3, h4, h5, h6, p {line-height:1.2em; font-size:100%; margin:1em 0 0 0;}
p { margin-bottom:1em }
h1 { font-size: 150%; padding:0; padding-top:18px}
h2 { font-size: 129%; margin-top:1.5em; margin-bottom:.2em; padding:1em 0 0 0;  border-bottom:1px solid #dedede;}
h2.first { border-top:none; margin-top:0; margin-bottom:.2em;}
#doc3 h2.first { float:none; /*float specified to resolve conflict on generic float declaration for .first in grids*/}
h3 {font-size:114%; display:inline; margin-bottom:0;}
h4 {margin-top:1em; color: #000;}
ul, ol, dl, dd {margin-left:30px;}
dt { font-weight:bold; }
ul, ol {margin-bottom:.7em;}
ul {list-style:disc;}
ol {list-style:decimal;}
strong {font-weight:bold;}
em {font-style:italic;}

a, a code {color:#0000de;} 
a:visited, a:visited code {color:#639;}
a:active, a:active code {color: #f00;}

#bd ol {}
#bd ol li p { margin-left:0}
#bd ol li ol {list-style:lower-alpha}
#bd ol li ol li {margin-bottom:1em}
#bd ol li ol li ol{list-style:lower-roman}
#bd ol li ol li ol li {margin-bottom:1em}

/*formerly #bd targeting*/
ul {margin-top:2px; }
ul li { margin:0 17px 0 7px; }
ul li ul { margin-top:0em }

html{background-color:#e7e7e7;}
body{font-family:arial;color:#4e4e4e;background:#e7e7e7;}
#doc4{background:#fff url(/static/images/bg_shadow_left.gif) repeat-y;width:76.15em;min-width:990px;*width:74.26em;position:relative;}
.doc-wrapper1{background:url(/static/images/bg_shadow_right.gif) repeat-y right top;}
.doc-wrapper2{position:absolute;background-position:-340px -20px;width:10px;height:500px;left:0;}
.doc-wrapper3{position:absolute;background-position:-370px -20px;width:10px;height:500px;right:0;}
.doc-wrapper4{padding:0 20px;}
#ft{padding:10px 0 20px 0;clear:both;}
#ft a,#hd a{text-decoration:none;}
#ft a:hover,#hd a:hover{text-decoration:underline;}

#hd .head{text-align:right;font:85% arial;padding-top:3px;height:25px;}
#hd .head a,.head .current{color:#787878;}
#hd .head div.links{float:left;text-align:left;width:300px;}
#hd .head div.links a{margin-right:10px;}

#hd .tabs{margin-top:10px;padding:0;height:24px;overflow:hidden;background:#0B045C;}
#hd .tabs a{margin-right:25px;color:#fff;font:bold 100% arial;}
#hd .tabs .current{color:#ffae00;}

#bd {clear:both; margin-top:50px;}

div .left {float:left; margin-right:30px;}
div .clear {clear:both;}