{{extend "layout.html"}}
<div class="left"><img src="/static/images/logo.jpg"></div>
<div>
<h1>它是什么</h1>
<p>uliweb 是一个web框架，它结合了许多框架的特点，不能说是集众家之长，但结合的东西的确不少。
之所以要开发这个框架，其主要的目的是让自已用起来更方便。在使用其它的框架过程中，象Django,
web2py等，都很有特色，但是它们都很坚持自已的特色。对于框架本身，它可以保持框架的特点，但对
于用户来说，却未必是一件好事。以Django为例，许多东西的确不错，功能非常完整，但是从个人使用
的角度来说，我认为还存在不足。比如模板，Django的模板不能嵌入Python代码，这是因为按Django
开发团队角度来看，web开发本身应该是分工协作，但是我个人开发时都是一个人在做，因此这种协作
是不需要的。因此我更希望从程序员的角度来使用模板，但是因为不能嵌入Python代码，造成我要么在
View中进行加工，要么编写自已的Tag。但是写一个Tag毕竟还是挺麻烦的。比如象简单的Python表达
式都不能直接用在模板中。就这一点来说，我认为web2py的模板系统更让我满意。
</p>
<p>再说一说web2py。也是一个不错的模板，它采用MVC的框架，有许多Django不具备的特点，如View
是在一个环境中运行，因此你不用写下大量的import语句。在Django中因为模块比较多，import语句
挺多。每个view缺省对应一个模板，自动调用。提供web编辑环境。ORM可以自适应数据库的变化等。
不过它也有让我不满意的地方，如不使用全局的配置文件，感觉不太好。还有就是app的开发方式与Django
不同。Django的app不是独立存在的，它只是重用的最小单位。而web2py的app是运行的最小单位，重
用比较复杂。我还是喜欢Django的组织方式。
</p>
<p>既然别人都很坚持，那么只有自立更生了。因此uliweb诞生了。这个名字是Zoom.Quiet起的，说
是可以与UliPad成为一个系列，挺有意思的想法。
</p>
</div>
<div class="clear"></div>