<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>UliPad - Python Editor by limodou</title>
<link rel="stylesheet" href="/static/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/print.css" type="text/css" media="print">
<!--[if IE]><link rel="stylesheet" href="/static/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="/static/site.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/haml-forms.css" type="text/css" media="screen, projection">
<script type="text/javascript" src="/static/jquery.js"></script>
</head>
<body>
<div class="container">
{{include}}
</div>
</body>
</html>
