fieldset  
{  
-moz-border-radius: 7px;  
border: 1px #dddddd solid;  
padding: 10px;  
margin-top: 10px; 
background-color: #eee;
}  
  
fieldset legend  
{  
border: 1px #1a6f93 solid;  
color: black;   
background-color: #999;

font-family: Verdana;  
font-weight: none;  
font-size: 13px;  
  
padding-right: 5px;  
padding-left: 5px;  
padding-top: 2px;  
padding-bottom: 2px;  
  
-moz-border-radius: 3px;  
}  
  
/* Label */  
.form label.field { width: 140px; padding-right: 10px; margin: 5px; float: left; text-align: right; }  
  
/* Input, Textarea */  
.form input.field, textarea.field, input.checkbox, input.button, select { float: left; }  
  
/* BR */  
  
.form br { clear: left; } 
.form textarea.field, .form input.field, input.checkbox {margin: 5px 5px 5px 0; padding:4px;}
.form select {margin:  5px 5px 5px 0; padding:2px;}
.form input.field  {background-color: #fff; width:200px;font-size:14px; border: 1px solid #bbb;}
.form input.field:focus, .form textarea.field:focus { border: 2px solid #090; }
.form .error {color:#f00;float:left;margin-top:8px}
