<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{block title}}{{end}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- (en) Add your meta data here -->
<!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->
{{link "css/layout_sliding_door.css"}}
<!--[if lte IE 7]>
{{link "css/patches/patch_sliding_door.css"}}
<![endif]-->
</head>
<body>
<div id="page_margins">
	<div id="page">
		<div id="header">
			<h1>Uliweb Admin Interface</h1>
        </div>
		<!-- begin: main navigation #nav -->
		<div id="nav"> <a id="navigation" name="navigation"></a>
			<!-- skiplink anchor: navigation -->
            {{include "admin_menu.html"}}
			<div id="nav_main">
				<ul>{{block nav_menu}}
					<li id="current"><strong>settings.ini</strong></li>
					<li><a href="#">Apps Info</a></li>{{end}}
				</ul>
			</div>
		</div>
		<!-- end: main navigation -->
		<!-- begin: main content area #main -->
		<div id="main">
            <div>{{block content}}{{end}}</div>
		</div>
		<!-- end: #main -->
		<!-- begin: #footer -->
		<div id="footer">{{block footer}}Uliweb Admin Interface<br/>
        Author Limodou{{end}}</div>
		<!-- end: #footer -->
	</div>

</div>
</body>
</html>
