{{extend "layout.html"}}
<h1>Uliweb Framework Testing Page</h1>
<p>{{= _("This is Uliweb's testing page, you can find many examples here") }}</p>
<h2>Views</h2>
{{ cycle = Cycle('odd', 'even') }}
<table class="examplesTable">
<tbody>
  <tr class="{{=cycle.next()}}">
    <td class="title"><a href="{{= url_for('%s.views.examples_template' % request.appname) }}">{{= _('Template testing') }}</a></td>
    <td class="description">{{= _('By default, every view function will have a default template, '
        'its name is the same with function name, but with .html suffix. Only when you return a dict '
        'vairable the default template will be available. ')}}</td>
  </tr>
  <tr class="{{=cycle.next()}}">
    <td class="title"><a href="{{= url_for('%s.views.examples_redirect' % request.appname) }}">{{= _('Redirect testing')}}</a></td>
    <td class="description">{{= _('redirect() can redirect to URL which you want')}}</td>
  </tr>
  <tr class="{{=cycle.next()}}">
    <td class="title"><a href="{{= url_for('%s.views.examples_form' % request.appname) }}">{{= _('Form testing')}}</a></td>
    <td class="description">{{= _("With Form module, you can create an object used to validate submitted data, "
        "and it can also convert submitted data to Python data type. And you can also "
        "use it to create HTML code and display in the HTML page.") }}</td>
  </tr>
  <tr class="{{=cycle.next()}}">
    <td class="title"><a href="{{= url_for('%s.views.examples_response' % request.appname) }}">{{= _('Return response object in view testing')}}</a></td>
    <td class="description">{{= _("View can return many types of data, for example: string, HTML string, response object, "
    "dict variable, etc, and this test will return a response object.")}}</td>
  </tr>
  <tr class="{{=cycle.next()}}">
    <td class="title">{{= _('Static file testing')}}</td>
    <td class="description">{{= _('If you can see this')}} <img src="{{= url_for('%s.views.static' % request.appname, filename='test.gif') }}"/> {{= _('image, it means this test is right.')}}</td>
  </tr>
  <tr class="{{=cycle.next()}}">
    <td class="title"><a href="{{= url_for('%s.views.examples_error' % request.appname) }}">{{= _('Call error template testing')}}</a></td>
    <td class="description">{{= _('You can call error() in views function directly.')}}</td>
  </tr>
  <tr class="{{=cycle.next()}}">
    <td class="title"><a href="{{= url_for('%s.views.examples_print_settings' % request.appname) }}">{{= _('Print settings options')}}</a></td>
    <td class="description">{{= _("Uliweb can support app level's configure file(settings.py), all option names should be written in upper case.")}}</td>
  </tr>
  <tr class="{{=cycle.next()}}">
    <td class="title"><a href="{{= url_for('%s.views.examples_cookie' % request.appname) }}">{{= _('Cookie testing')}}</a></td>
    <td class="description">{{= _("First time it'll display no cookie, when you refresh the page, it'll display there is cookie.")}}</td>
  </tr>
  <tr class="{{=cycle.next()}}">
    <td class="title"><a href="{{= url_for('Post.views.post') }}">{{= _('Simple form testing and i18n testing')}}</a></td>
    <td class="description">{{= _('This example can render reStructuredText, and it also demostrates i18n process.')}}</td>
  </tr>
  <tr class="{{=cycle.next()}}">
    <td class="title"><a href="{{= url_for('%s.views.examples_cache' % request.appname) }}">{{= _('Test cache')}}</a></td>
    <td class="description">{{= _('This example will test the cache.')}}</td>
  </tr>
  <tr class="{{=cycle.next()}}">
    <td class="title"><a href="{{= url_for('%s.views.examples_session' % request.appname) }}">{{= _('Test session')}}</a></td>
    <td class="description">{{= _('This example will test the session.')}}</td>
  </tr>
</tbody>
</table>
