.cssbox, .cssbox .c3, .cssbox .c2, .cssbox .c1 {background: transparent url(pic_grey_border_1800x1800.gif) no-repeat bottom right; }
.cssbox {padding-right: 0px;margin: 10px auto;} 
.cssbox .c1 {background-position: top right; margin-right: 0px;padding-right: 10px;} 
.cssbox .c2 {background-position: top left; margin: 0; padding: 5px 10px 4px 10px;} 
.cssbox .c3 {background-position: bottom left; margin-right: 5px;padding: 5px 10px 5px 10px;} 